name: coverage
on:
  push:
    branches:
    - main
permissions: {}
jobs:
  coverage:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
      with:
        go-version: stable
    - name: Calculate coverage
      run: |
        go test -v -covermode=atomic -coverprofile=cover.out.raw -coverpkg=./... ./...
        # remove generated code from coverage calculation
        grep -Ev 'internal/mock|_enumer.go' cover.out.raw > cover.out
    - name: Generage coverage badge
      uses: vladopajic/go-test-coverage@cc5012c2cfa84542e02b079141958a885861d326 # v2.17.0
      with:
        profile: cover.out
        local-prefix: github.com/${{ github.repository }}
        git-token: ${{ secrets.GITHUB_TOKEN }}
        # orphan branch for storing badges
        git-branch: badges
