name: goreleaser action

on:
  push:
    tags:
      - 'v*'

jobs:
  test-suite:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goversion:
        - 1.24
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: "0"
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{matrix.goversion}}
    - name: Build
      run: |
        go install go.uber.org/mock/mockgen@v0.4.0
        ARTIFACT_DESTINATION=./builds make build
    # - name: Check version
    #   run: |
    #     ./builds/lagoon --version

  goreleaser:
    needs: test-suite
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goversion:
        - 1.24
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: "0"
      -
        name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{matrix.goversion}}
      -
        name: Fetch Dependencies
        run: go mod download
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: v2
          args: release --verbose --skip=validate
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACTION_PAT }}
          GOVERSION: ${{ matrix.goversion }}
          LOCAL_ORG: ${{ github.repository_owner }}
